@if (!artist) {
<div class="alert alert-info">Cargando datos</div>
}@else{

<div class="row">
  <div class="col">
    <img
      [src]="artist.images[1].url"
      class="rounded-circle"
      height="200"
      width="200"
    />
  </div>
  <div class="col-7">
    <h1>
      <a [routerLink]="['/artist', artist.id]" class="link-no-decoration"
        ><strong>{{ artist.name }}</strong></a
      >
    </h1>
    <a href="{{ artist.external_urls.spotify }} " target="_blank"
      >Artist page</a
    >
  </div>
  <div class="col">
    <button class="btn btn-danger float-end" (click)="goBack()">Return</button>
  </div>
</div>

<div class="row mt-4">
  <songs-table [tracks]="tracks"></songs-table>
</div>

}
